<div class="row">
  <div class="eight columns">
  	<p>Hangout Helper</p>
  </div>
  <div class="four columns">
  	<form>
  	  <div class="field">
  	    <input name="first" class="text input" type="text" placeholder="First" />
  	  </div>
  	  <div class="field">
  	    <input name="last" class="text input" type="text" placeholder="Last" />
  	  </div>
  	  <div class="field">
  	    <input name="state" class="text input field" type="text" placeholder="State" />
  	  </div>
  	  <div class="field">
  	    <input name="city" class="text input field" type="text" placeholder="City" />
  	  </div>
  	  <div class="field">
  	    <input name="zip" class="text input field" type="text" placeholder="Zip" />
  	  </div>
  	  <div class="xlarge medium primary btn pretty"><a href="#">Register</a></div>
  	</form>
  </div>
</div>
