<nav class="navbar" id="nav1">
  <div class="row">
  	<nav class="four columns pull_right">
      <ul>
      	<li>
      	  <a href="#">Login</a>
          <form>
      	    <div class="dropdown">
              <ul class="login-form">
                <li class="field">
                  <input type="email" class="input email" placeholder="Email"/>
                </li>
                <li class="field">
                  <input type="password" class="input password" placeholder="Password"/>
                </li>
                <li>
                  <div class="xlarge medium primary btn pretty"><input type="submit" name="login" class="input" value="Login"/></div>
                </li>
              </ul>
            </div>
          </form>
        </li>
      </ul>
    </nav>
    <ul>
    </ul>
  </div>
</nav>