<nav class="navbar pretty" id="nav1">
  <div class="row">
    <h1 class="logo">
      <img src="/assets/small-logo.png" />
    </h1>
  	<nav class="four columns pull_right">
      <ul>
        <% if signed_in? %>
          <li><%= link_to "Sign out", signout_path, method: "delete" %> </li>
        <% else %>
      	  <li>
      	    <a href="#">Login</a>
      	      <div class="dropdown">
                <ul class="login-form">
                  <li>
                    <%= render 'shared/signin_form' %>
                  </li>
                </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </nav>
    <ul>
    </ul>
  </div>
</nav>