<div class="row">
  <%= form_for @group, :url => {:action => :create} do |f|%>
    <div class="field"><%= f.text_field :name, class: "input text" %></div>
    <div class="field"><%= f.text_field :name, class:"input numeric" %></div>
  <% end %>	
</div>
 