// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-stats {
	margin: 3em auto;
	background: #D1DBBD;
	padding:5px;

	hr {
	  border-color: #444444;
	}

	.top-places span {
	  float:right;
	}
}
